.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 24px;

  .filter-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;

    .icon {
      font-size: 20px;
      color: #111;
    }

    &:hover {
      background: #e5e7eb;
    }
  }

  .latest-btn {
    display: flex;
    align-items: center;
    gap: 6px;

    background: #f3f4f6;
    border: none;
    padding: 10px 18px;
    border-radius: 24px;

    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
    color: #111;

    .arrow-icon {
      font-size: 20px;
    }

    &:hover {
      background: #e5e7eb;
    }
  }

  .write-review-btn {
    background: #111;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 24px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    }
  }
}
.count-inline {
  opacity: 0.6;
  scale: 0.8;
  font-family: "Satoshi", sans-serif;
  margin-top: 2px;
  font-weight: 500;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.review-title {
  font-size: 24px;
  font-weight: 800;
  display: flex;
  font-family: "Satoshi", sans-serif;
  letter-spacing: 0.02em;
  color: #000;
}
.write-review-btn-text {
  opacity: 0.9;
}
@media (max-width: 600px) {
  .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
  }

  .review-title {
    font-size: 16px;
  }

  .btn-group {
    justify-content: space-between;
    gap: 10px;
  }

  .btn-group .latest-btn {
    display: none;
  }

  .write-review-btn {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    text-align: center;
  }
}
