.review-tabs {
  display: flex;
  justify-content: center;
  gap: 0px;
  border-bottom: 1px solid #e5e7eb;

  .tab {
    font-size: 16px;
    color: #6b7280;
    cursor: pointer;
    display: flex;
    padding: 6px 0;
    justify-content: center;
    width: 100%;

    &.active {
      color: #111;
      font-weight: 600;
      border-bottom: 2px solid #111;
    }
  }
}
